

.navContainer {
    position: sticky;
    top: 0;
    z-index: 30;
    display: flex;

    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-inline: 20px;
    backdrop-filter: blur(10px);

    min-height: 80px;
    max-height: 80px;

}

.navScrolled {
    transition: background-color 0.5s ease, box-shadow 0.5s ease;

    background-color: #00000034;
    border-bottom: 1px solid rgba(26, 42, 105);

}


.navMenu {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    text-transform: None;
    color: #333;
    gap: 10px;
    padding: 20px 50px;
    margin: 10px 0px;
    /* background-color: #f2f2f2; */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    
    

}

@media (max-width: 768px) {
    .navMenu {
        display: none;
    }
}

.navMenu a {
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.664);
    text-decoration: none;
    font-size: 1.1em;

    border: 1px solid transparent;
    border-radius: 9999px;

    transition: .3s ease;
    

}

.navMenu a:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(92, 92, 92, 0.363);
    border: 1px solid rgba(255, 255, 255, 0.397);
    border-radius: 9999px;
}


.navLogo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}



.navDashboard {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0px 20px #4CAF50;
    transition: background-color 0.3s ease;
}

.navDashboard:hover {
    background-color: #3e8e41;
}

.navDashboard:active {
    background-color: #2e7031;
}

.navLogin {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0px 20px #008CBA;
    transition: background-color 0.3s ease;
}

.navLogin:hover {
    background-color: #007bb5;
}

.navLogin:active {
    background-color: #005f7a;
}