a {
    text-decoration: none;
    color: white;
}

.App {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    min-height: 2000px;
    background-color: rgb(9, 14, 34);
}

.card{
    background-color: rgb(9, 14, 34);
    border-radius: 8px;
    border: 1px solid rgb(45, 72, 177);
    box-shadow: 0px 2px 4px rgba(13, 20, 49);
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    display: inline-block;
}

.card .card-title{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
}

.card .card-description{
    font-size: 1.1em;
    line-height: 1.5;
    color:  rgba(99, 105, 126, 0.8);
}  

